<h2 class="sub-header">{{ 'app.recent_spots'|trans }}</h2>
<div class="table-responsive">
    <table id="recent-spots" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'app.id'|trans }}</th>
            <th>{{ 'app.make'|trans }}</th>
            <th>{{ 'app.model'|trans }}</th>
            <th>{{ 'app.spotter'|trans }}</th>
            <th>{{ 'app.enabled'|trans }}</th>
            <th>{{ 'app.created_at'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for spot in spots %}
        <tr>
            <td>{{ spot.id }}</td>
            <td>{{ spot.make.name }}</td>
            <td>{{ spot.model.name }}</td>
            <td>{{ spot.spotter.username }}</td>
            <td>
                {% if spot.enabled %}
                    <span class="label label-success">{{ 'app.enabled'|trans|lower }}</span>
                {% else %}
                    <span class="label label-danger">{{ 'app.disabled'|trans|lower }}</span>
                {% endif %}
            </td>
            <td>{{ spot.createdAt|date('d-m-Y H:i') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
