<footer id="footer">
    <div class="content">
        <div class="inner">
            <section class="about">
                <h3>{{ 'app.add_new_spot'|trans }}</h3>
                <p>{{ 'app.add_spot.description'|trans }}</p>
                <ul class="actions">
                    <li><a href="{{ path('app_spot_create') }}" class="button">{{ 'app.add_spot'|trans }}</a></li>
                </ul>
            </section>
            <ul class="icons bulleted">
                <li class="icon fa-map-marker">
                    <h3>{{ 'app.address'|trans }}</h3>
                    <p>Grzegorz Sadowski<br />
                        Lermontowa 1/129<br />
                        92-512 Lodz<br />
                        Poland</p>
                </li>
            </ul>
            <ul class="icons bulleted">
                <li class="icon fa-phone">
                    <h3>Phone</h3>
                    <p>668 342 877</p>
                </li>
                <li class="icon fa-envelope-o">
                    <h3>Email</h3>
                    <p><a href="mailto:sadowskigp@gmail.com">sadowskigp@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy; Carspotted. All rights reserved.<br />
        <a href="mailto:sadowskigp@gmail.com">Contact</a>
    </p>
</footer>
